<div class="container">
  <div class="users-header">
    <span>Name</span>
    <span>Email</span>
    <span>Role</span>
    <span>Security no</span>
    <span>Id no</span>
    <span>Delete</span>
  </div>

  <div class="search">
    <input type="text" placeholder="Search user by id no" />
  </div>

  <div *ngIf="users$ | async as users">
    <div *ngIf="users.length">
      <div
        class="users"
        *ngFor="
          let item of users
            | paginate : { itemsPerPage: 5, currentPage: p }
        "
      >
        <div class="users-body">
          <span>{{item.name}}</span>
          <span>{{item.email}}</span>
          <span>{{item.role}}</span>
          <span>Rv120000</span>
          <span>345</span>
          <button (click)="assignId(item.id)">delete</button>
        </div>
      </div>
    </div>

    <pagination-controls
      (pageChange)="p = $event"
      class="pagination"
    ></pagination-controls>
  </div>

  <div class="delete" *ngIf="close">
    <div class="delete-item">
      <div class="confirm">
        <h4>Are you sure you want to delete the user.</h4>

        <div class="buttons">
          <button class="close" (click)="showDelete()">Close</button>
          <button class="delete-btn" (click)="showDelete()">delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
