.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.container h3 {
  margin-bottom: 20px;
}

.container label {
  font-weight: 900;
}

.container input,
select {
  width: 30%;
font-weight: 900;
  margin: 10px 0px;
  padding: 3px;
}

.container button {
  width: 30%;
  padding: 10px;
  background-color: #203354;
  border: none;
  color: #fff;
  cursor: pointer;
  margin: 20px 0px;
}
