
<div class="container">

    <h3>Add User</h3>

    <label for="">Name</label>
    <input type="text" name="" >
    <label for="">Email</label>
    <input type="text" name="" >
    <label for="">Password</label>
    <input type="text" name="" >

    <label for="">Role</label>

    <select name="" id="">

        <option value="">Admin</option>
        <option value="">Reception</option>
        <option value="">Doctor</option>
        <option value="">Patient</option>
        
    </select>

    <button>Submit</button>
</div>
