<div class="container">

    <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Add User</h2>

    <div class="add-item">

        <label for="">Name</label>

        <input type="text" formControlName="name">
    </div>

    <div class="add-item">

        <label for="">Email</label>

        <input type="text"  formControlName="email">
    </div>

    <div class="add-item">

        <label for="">Password(User Id no)</label>

        <input type="text" formControlName="password">
    </div>

  <div class="add-item">

        <label for="">Role</label>

        <select name="" id="" (change)="selectRole($event)" selected>

            <option value="admin">Admin</option>
            <option value="patient">Patient</option>
            <option value="reception">Reception</option>
            <option value="finance">Finance</option>
            <option value="doctor">Doctor</option>
        </select>
    </div>


    <button [disabled]="!form.valid">Submit</button>
</form>
</div>
