<div class="container">

    <div class="image">

        <img src="../../../assets/admin-login.jpg" alt="">
    </div>

    <div class="register">

        <div class="register-heading">
           <span>Register and get your order prepared faster and track them</span> 
        </div>

        <label for="">Name</label>
        <input type="text" placeholder="Enter name">
        <label for="">Email</label>
        <input type="text" placeholder="Enter Email">
        <label for="">Password</label>
        <input type="password" placeholder="Enter password">
        <label for="">Confirm Password</label>
        <input type="text" placeholder="Confirm Password">

        <button class="btn-register">Register</button>

        <span>Already have an account?</span>
    </div>
</div>
