<div class="container">

  <div class="charts">
    <div class="pie" [chart]="donutChart"></div>
    <div class="line" [chart]="lineChart"></div>
  </div>

  <div class="requests">

    <div class="newuser">

        <h2>New Users</h2>

        <ol>
            <li>John Doe</li>
            <li>Jane Doe</li>
            <li>James Doe</li>
            <li>Mohammed Doe</li>
            <li>Loise Doe</li>
        </ol>
    </div>


    <div class="approval">

        <h2>Pending Approvals</h2>

        <div class="approval-item">
            <span>John Doe</span>
            <button>Pending</button>
        </div>
        <div class="approval-item">
            <span>James Doe</span>
            <button>Pending</button>
        </div>
        <div class="approval-item">
            <span>Jane Doe</span>
            <button>Pending</button>
        </div>
       

    </div>

  </div>
</div>
