<app-navbar></app-navbar>
<div class="container">
  <div class="image">
    <img
      src="../../../assets/78696-delivery-motorbike.gif"
      alt=""
      height="400px"
      width="350px"
    />

    <button><fa-icon [icon]="faPhone"> </fa-icon>CALL US</button>
  </div>

  <div class="getstarted">
    <h2>GET YOUR PARCEL DELIVERED BY EXPERTS</h2>

    <h3>WE DELIVER PARCELS ACROSS THE COUNTRY WITH LOW COST AS KSH 200</h3>

    <button>Get Started <fa-icon [icon]="faArrowRight"></fa-icon></button>
  </div>
</div>

<app-footer></app-footer>
