<div class="container">
  <div class="appointment-header">
    <span>Name of doctor</span>
    <span> Role</span>
    <span> email</span>
    <span>book</span>
  </div>

  <div *ngIf="doctors$ | async as doctors">
    <div *ngIf="doctors.length">
      <div
        class="appointment-body"
        *ngFor="
          let doctor of doctors
            | paginate : { itemsPerPage: 4, currentPage: p }
        "
      >
        <div class="appointemnt-item">
          <span>{{doctor.name}}</span>
          <span> Doctor</span>
          <span> {{doctor.email}}</span>
          <button (click)="showBook(doctor.email)">book</button>
        </div>
      </div>
    </div>
  </div>

  <pagination-controls
    (pageChange)="p = $event"
    class="pagination"
  ></pagination-controls>
</div>

<div class="book" *ngIf="close">
  <div class="book-container">
    <h2 class="book-header">Are you sure you want to book an appointment?</h2>
    <input type="date" class="data" [(ngModel)]="date"/>

    <div class="book-cancel">
      <button (click)="Close()">close</button>
      <button (click)="Book()">book</button>
    </div>
  </div>
</div>
