<div class="container">
  <h1 class="heading">Medics Venns</h1>

  <ul class="nav">
    <li routerLink="/admin"><fa-icon [icon]="home" class="icon"></fa-icon>Home</li>
    <li routerLink="/admin/users"><fa-icon [icon]="user" class="icon"></fa-icon>Users</li>
    <li><fa-icon [icon]="hospital" class="icon"></fa-icon>Doctors</li>
    <li routerLink="/admin/adduser"><fa-icon [icon]="add" class="icon"></fa-icon>Add User</li>
    <li><fa-icon [icon]="block" class="icon"></fa-icon>Block</li>
    <li><fa-icon [icon]="logout" class="icon"></fa-icon>Logout</li>
  </ul>
</div>
