<div class="container">
  <div class="navigation">
    <span>Patients</span>
    <span>Doctors</span>
    <fa-icon [icon]="faUser" class="icon"></fa-icon>
    <span>Welcome Jane Doe</span>
    <span>Logout</span>
  </div>

  <div class="patient-header">
    <span>Name</span>
    <span>Location</span>
    <span>Room Admitted</span>
    <span>Admission no</span>
    <span>Id no</span>
    <span>Status</span>
  </div>

  <div class="add-patient" (click)="showAdd()">
    <fa-icon [icon]="faAd" class="add-icon"></fa-icon>
    <span>Add Patient</span>
  </div>

  <div class="search">
    <input
      type="text"
      placeholder="Search patient admission no"
      [(ngModel)]="searchText"
    />
  </div>

  <div *ngIf="patients$ | async as patients">
    <div *ngIf="patients.length">
      <div
        class="patient-body"
        *ngFor="
          let item of patients
            | paginate : { itemsPerPage: 5, currentPage: p }
            | search : searchText
        "
      >
        <div class="patient-item">
          <span>{{ item.name }}</span>
          <span>{{ item.admission_no }}</span>
          <span>{{ item.room_admitted }}</span>
          <span>{{ item.admission_no }}</span>
          <span>{{ item.id_no }}</span>
          <span>{{ item.status }}</span>
        </div>
      </div>
    </div>

    <pagination-controls
      (pageChange)="p = $event"
      class="pagination"
    ></pagination-controls>
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="add-modal" *ngIf="close">
    <div class="add-item">
      <div class="add-header">
        <span>Add patient</span>
        <button class="close" (click)="showAdd()">Close</button>
      </div>
      <div class="input-item">
        <label for="">Name</label>
        <input type="text" formControlName="name" />
      </div>
      <div class="input-item">
        <label for="">Email</label>
        <input type="text" formControlName="email" />
      </div>

      <div class="input-item">
        <label for="">Resident area</label>
        <input type="text" formControlName="resident_area" />
      </div>

      <div class="input-item">
        <label for="">Room no</label>
        <input type="text" formControlName="room_admitted" />
      </div>

      <div class="input-item">
        <label for="">Admission no</label>
        <input type="text" formControlName="admission_no" />
      </div>
      <div class="input-item">
        <label for="">Id no</label>
        <input type="text" formControlName="id_no" />
      </div>

      <button class="submit" [disabled]="!form.valid">Submit</button>
    </div>
  </div>
</form>
